{{extend 'layout.html'}}

<script>
function change(){
	var elm=document.getElementById('mybutton');
	if (elm.value=='Submit selection') 
		elm.value='check'
	else
		elm.value='Submit selection'
}

function save(){
	var sel = document.getElementById('category_id');
   	var sv = sel.options[sel.selectedIndex].value;
	session.topic=sv;
	var sel = document.getElementById('subcategory_id');
   	var sv = sel.options[sel.selectedIndex].value;
	session.subtopic=sv;
}
</script>
<form enctype="multipart/form-data" action="{{URL()}}" method="post">
	<span id="branch">
		Quiz Category:
	</span>

	<select name='category_id' 
	onchange="jQuery(subcategory_id).remove();
	ajax('maker', ['category_id'], 'shadow_clone');">
	<!--jQuery(.check).show(),
	jQuery(.submit).hide();
	-->
	{{for category in categories:}}
	<option value="{{=category.id}}" 
	{{=" selected='selected'" if str(category.id)==request.vars.category_id else ""}}>
	{{=category.name}}
</option>
{{pass}}
</select>

<span id='shadow_clone'></span>

<br>
<span id="branch">
	Subcategories:
</span> 
	
<select name='subcategory_id' >
	{{for maker in subcategories:}}
	<option value="{{=maker.id}}" 
	{{=XML(" selected='selected'") if str(maker.id)==request.vars.subcategory_id else ""}}>
	{{=maker.name}}</option>
	{{pass}}
</select>
<br>
<input type="submit" value='Check' class="check">
<!--<input type="submit" value='Submit selection' id="#mybutton" onclick="save()" class="submit"> -->   
</form>

<!--Just for temp
<hr>

<div id="left_price">
	
	<div id="table_price">
		<table  class="pricetable">
			{{for list in lists:}}
			<tr>
				<td class="priceleft">{{=list.name}}</td>
				<td class="priceright">{{=list.category_id}}</td>
			</tr>
			{{pass}}
		</table>
	</div>
</div>
-->
<div id="right_price">

</div>