{{extend 'layout.html'}}
{{db.usage_statistics.insert()}}
{{db.commit()}}
<form action="#" enctype="multipart/form-data" method="post">
<ul>
  <li>Your question is <br><input name="name" /></li>
  <li>Your option 1 is <br><input name="opt1" /></li>
  <li>Your option 2 is <br><input name="opt2" /></li>
  <li>Your option 3 is <br><input name="opt3" /></li>
  <li>Your option 4 is <br><input name="opt4" /></li>
  <li>The answer is <br><input name="ans" /></li>
</ul>
  <input type="submit" />
  <input type="hidden" name="_formname" value="test" />
</form>