body {
    background-color:#3399FF;
}
#container {
    text-align: center;
}
#simpleCanvas {
    display:inline;
    position: relative;
    top: 20%;
    left: 0%;
    border:2px solid blue;
    width:600px;
    height:450px;
    background-color: #FF9966;
}
