<html>
{{extend }}
<script src="{{=URL('static','js/dodgeball.js')}}"></script>
<!--<script src="{{=URL('static','js/countdown.js')}}" type="text/javascript"></script>
<script type="application/javascript">
function doneHandler(result) {
  var continuos=confirm("You Win. Do you want to play another game?");
  if (continuos==true)
  {
    location.reload();
  }
}
var myCountdownTest = new Countdown({
  time:300,
  width : 300, 
  height  : 50,
  onComplete : doneHandler
});
</script>-->
{{response.files.append(URL(r=request,c='static',f='css/dodgeball.css'))}}
{{include 'web2py_ajax.html'}}
<head>
  <title>
    Dodge Ball
  </title>
</head>
<body>
 <div id="container">
  <h1>Dodge Ball</h1>
  <select id="difficulty">
   <option value="4" selected="selected">Easy</option>
   <option value="5" >Medium</option>
   <option value="6">Hard</option>
 </select>
 <input type='button' name="play" id='select1' value="Play">
 <input type='button' name="retry" id='ret' value="Retry" onClick="history.go(0)">
 <br>
 <canvas id="simpleCanvas">
 </canvas>
 <span id='shadow_clone'></span>

</div>  
</body>
</html>

